body, html {
  height: 100%;
  margin: 0;
  font-family: "Montserrat";
  color: #383838;
}

body {
  overflow-x: hidden;
}

.navigation {
  display: flex;
  justify-content: flex-end;
  height: 70px;
}
.navigation a {
  z-index: 1;
}
.navigation--color {
  background-color: #383838;
  position: fixed;
  width: 100%;
  height: 70px;
  z-index: 5;
}
.navigation__menu {
  position: relative;
  text-align: center;
  display: none;
  background-color: #FFF;
  margin: 0;
  height: 226px;
  width: 100%;
  overflow-y: hidden;
  z-index: 3;
  animation: nav 1s;
}
@keyframes nav {
  from {
    bottom: 20vw;
  }
  to {
    bottom: 0px;
  }
}
.navigation__menu--color {
  background-color: #383838;
}
@media screen and (max-width: 992px) {
  .navigation__menu {
    padding-inline-start: 0;
  }
}
.navigation__border {
  display: flex;
  flex-direction: column;
  padding-top: 3%;
}
@media screen and (max-width: 992px) {
  .navigation__border {
    padding-top: 10%;
  }
}
.navigation__link {
  text-decoration: none;
  background-color: #FFF;
  color: #383838;
  line-height: 50px;
  font-size: 36px;
  font-weight: 900;
  font-style: normal;
}
.navigation__link--color {
  background-color: #383838;
  color: #FFF;
}
.navigation__link:hover {
  color: #d0021b;
}
.navigation__hamburger {
  position: absolute;
  z-index: 999;
  top: 40px;
  right: 40px;
  width: 70px;
  cursor: pointer;
}
.navigation__hamburger--small {
  top: 10px;
}
@media screen and (max-width: 992px) {
  .navigation__hamburger {
    right: 5px;
    top: 10px;
  }
}
.navigation__hamburger .navigation__line {
  width: 35px;
  height: 5px;
  display: block;
  background-color: #FFF;
  margin: 8px auto;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-trasition: all 0.3s ease-in-out;
}
.navigation__hamburger.is-active .navigation__line:nth-child(2) {
  opacity: 0;
}
.navigation__hamburger.is-active .navigation__line:nth-child(1) {
  background-color: #383838;
  transform: translateY(13px) rotate(45deg);
  -moz-transform: translateY(13px) rotate(45deg);
  -webkit-transform: translateY(13px) rotate(45deg);
  -o-transform: translateY(13px) rotate(45deg);
}
.navigation__hamburger--color.is-active .navigation__line:nth-child(1) {
  background-color: #FFF;
}
.navigation__hamburger.is-active .navigation__line:nth-child(3) {
  background-color: #383838;
  transform: translateY(-13px) rotate(-45deg);
  -moz-transform: translateY(-13px) rotate(-45deg);
  -webkit-transform: translateY(-13px) rotate(-45deg);
  -o-transform: translateY(-13px) rotate(-45deg);
}
.navigation__hamburger--color.is-active .navigation__line:nth-child(3) {
  background-color: #FFF;
}

body.navigation-is-active .intro-name--size {
  display: none;
}

.toggle {
  display: none;
}
.toggle:checked + .navigation__menu {
  display: block;
}

.link-section {
  display: flex;
  position: fixed;
  justify-content: flex-end;
  z-index: 1;
  width: 100%;
  height: 50%;
  top: 60%;
}

.moon-sidebar {
  margin-top: -165px;
  overflow: hidden;
  overflow-x: hidden;
}
@media only screen and (max-width: 640px) {
  .moon-sidebar {
    margin-top: -80px;
  }
}
.moon-sidebar__section {
  display: table;
  margin: 100px;
  height: 303px;
  width: 365px;
  background-color: #383838;
  transition-duration: 1s;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  margin-left: 160px;
  margin-bottom: 39px;
  margin-right: -250px;
}
@media only screen and (max-width: 640px) {
  .moon-sidebar__section {
    height: 226px;
    width: 250px;
    margin-left: 160px;
    margin-right: -130px;
  }
}
.moon-sidebar__section:hover {
  transform: scale(1.4);
  transition-duration: 1s;
}
@media only screen and (max-width: 640px) {
  .moon-sidebar__section:hover {
    transform: scale(1);
  }
}
.moon-sidebar__section:hover .moon-sidebar__text {
  display: block;
  transition-duration: 1s;
}
@media only screen and (max-width: 640px) {
  .moon-sidebar__section:hover .moon-sidebar__text {
    display: none;
  }
}
.moon-sidebar__section:hover .moon-sidebar__icon {
  margin-left: 40px;
  transition-duration: 1s;
}
@media only screen and (max-width: 640px) {
  .moon-sidebar__section:hover .moon-sidebar__icon {
    margin-left: 26px;
  }
}
.moon-sidebar__text {
  position: absolute;
  width: 170px;
  height: 100px;
  margin-top: 100px;
  text-align: center;
  color: #FFF;
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
  transform: rotate(270deg);
  transition-duration: 1s;
  display: none;
}
.moon-sidebar__icon {
  display: flex;
  flex-direction: column;
  height: 140px;
  width: 50px;
  margin-left: 27px;
  margin-top: 84px;
  background-repeat: no-repeat;
  transition-duration: 1s;
  cursor: pointer;
}
@media only screen and (max-width: 640px) {
  .moon-sidebar__icon {
    margin-left: 26px;
    margin-top: 45px;
  }
}
.moon-sidebar__icon--linkedin {
  transform: rotate(270deg);
  width: 50px;
  margin-top: 0;
  background-image: url("../images/SVG/linkedin-4.svg");
}
.moon-sidebar__icon--linkedin:hover {
  background-image: url("../images/SVG/linkedinHover.svg");
}
.moon-sidebar__icon--github {
  transform: rotate(270deg);
  width: 50px;
  margin-top: 0;
  background-image: url("../images/SVG/GithubWhite.svg");
}
.moon-sidebar__icon--github:hover {
  background-image: url("../images/SVG/GithubPopup.svg");
}

.moon-bottomline {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 100%;
  height: 180px;
  overflow: hidden;
  overflow-x: hidden;
}
.moon-bottomline__section {
  display: table;
  height: 303px;
  width: 365px;
  background-color: #383838;
  border-radius: 50% 50% 0 0;
  transition-duration: 1s;
  margin-top: 80px;
}
@media only screen and (max-width: 640px) {
  .moon-bottomline__section {
    height: 226px;
    width: 250px;
  }
}
.moon-bottomline__section:hover {
  transform: scale(1.4);
  transition-duration: 1s;
}
@media only screen and (max-width: 640px) {
  .moon-bottomline__section:hover {
    transform: scale(1);
  }
}
.moon-bottomline__section:hover .moon-bottomline__text {
  display: block;
  transition-duration: 1s;
}
@media only screen and (max-width: 640px) {
  .moon-bottomline__section:hover .moon-bottomline__text {
    display: none;
  }
}
.moon-bottomline__section:hover .moon-bottomline__icon {
  margin-top: 28px;
  transition-duration: 1s;
}
@media only screen and (max-width: 640px) {
  .moon-bottomline__section:hover .moon-bottomline__icon {
    margin-top: 15px;
  }
}
.moon-bottomline__text {
  position: absolute;
  width: 170px;
  margin-left: 95px;
  margin-top: 30px;
  text-align: center;
  color: #FFF;
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
  transition-duration: 1s;
  display: none;
}
.moon-bottomline__icon {
  display: flex;
  height: 50px;
  width: 115px;
  margin: 0 auto;
  margin-top: 15px;
  background-repeat: no-repeat;
  transition-duration: 1s;
  cursor: pointer;
}
.moon-bottomline__icon--linkedin {
  background-image: url("../images/SVG/linkedin-4.svg");
}
.moon-bottomline__icon--linkedin:hover {
  background-image: url("../images/SVG/linkedinHover.svg");
}
.moon-bottomline__icon--github {
  background-image: url("../images/SVG/GithubWhite.svg");
}
.moon-bottomline__icon--github:hover {
  background-image: url("../images/SVG/GithubPopup.svg");
}

.main {
  overflow-y: hidden;
}

.background-image {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}
@media screen and (max-width: 992px) {
  .background-image {
    background-position: left 27% top;
  }
}
.background-image__top {
  background-image: url("../images/home.png");
  clip-path: polygon(0 0, 100% 0, 100% 20%, 0 85%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 20%, 0 85%);
  -moz-clip-path: polygon(0 0, 100% 0, 100% 20%, 0 85%);
  -o-clip-path: polygon(0 0, 100% 0, 100% 20%, 0 85%);
}
@media screen and (max-width: 992px) {
  .background-image__top {
    clip-path: polygon(0 0, 100% 0, 100% 40%, 0 60%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 40%, 0 60%);
    -moz-clip-path: polygon(0 0, 100% 0, 100% 40%, 0 60%);
    -o-clip-path: polygon(0 0, 100% 0, 100% 40%, 0 60%);
  }
}
.background-image__bottom {
  background-image: url("../images/PCpicture.png");
  clip-path: polygon(135% 0, 100% 0, 100% 100%, -18% 100%);
  -webkit-clip-path: polygon(135% 0, 100% 0, 100% 100%, -18% 100%);
  -moz-clip-path: polygon(135% 0, 100% 0, 100% 100%, -18% 100%);
  -o-clip-path: polygon(135% 0, 100% 0, 100% 100%, -18% 100%);
}
@media screen and (max-width: 992px) {
  .background-image__bottom {
    clip-path: polygon(305% 0, 100% 0, 100% 100%, -187% 100%);
    -webkit-clip-path: polygon(305% 0, 100% 0, 100% 100%, -187% 100%);
    -moz-clip-path: polygon(305% 0, 100% 0, 100% 100%, -187% 100%);
    -o-clip-path: polygon(305% 0, 100% 0, 100% 100%, -187% 100%);
  }
}

.intro {
  display: flex;
  align-items: center;
  height: 80vh;
}

.intro-name {
  display: grid;
  align-content: center;
  margin-top: 3%;
}
.intro-name--size {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0;
}

.title {
  margin-top: auto;
  display: grid;
  align-content: center;
  justify-content: center;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 50px 1fr 1fr 1fr;
}
@media screen and (max-width: 992px) {
  .title {
    top: 5%;
    grid-template-rows: 50px 20px 1fr 1fr;
  }
}
.title--small {
  padding-left: 5%;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
@media screen and (max-width: 992px) {
  .title--small {
    padding-left: 0;
  }
}
.title__first-name {
  grid-column: 4/5;
  grid-row: 1/2;
  font-size: 100px;
  font-weight: 900;
  font-style: italic;
  color: #FFF;
  position: relative;
  animation: first-name 2s;
}
@keyframes first-name {
  from {
    right: 50vw;
  }
  to {
    right: 0px;
  }
}
@media screen and (max-width: 750px) {
  .title__first-name {
    font-size: 55px;
    padding-top: 25px;
  }
}
@media screen and (max-width: 325px) {
  .title__first-name {
    font-size: 43px;
    padding-top: 25px;
  }
}
.title__first-name--link {
  grid-column: 3/4;
  font-size: 40px;
  text-decoration: none;
  color: #FFF;
  padding-top: 0px;
}
@media screen and (max-width: 325px) {
  .title__first-name--link {
    font-size: 35px;
  }
}
.title .toggle {
  display: none;
}
.title .toggle:checked + .title__first-name--link {
  display: none;
}
.title__last-name {
  grid-column: 5/6;
  grid-row: 2/4;
  font-size: 100px;
  font-weight: 900;
  font-style: italic;
  color: #d0021b;
  margin-left: 10px;
  position: relative;
  animation: last-name 2s;
}
@keyframes last-name {
  from {
    left: 50vw;
  }
  to {
    left: 0px;
  }
}
@media screen and (max-width: 750px) {
  .title__last-name {
    font-size: 53px;
    margin-left: 0;
  }
}
@media screen and (max-width: 320px) {
  .title__last-name {
    font-size: 43px;
    margin-left: 0;
  }
}
.title__last-name--link {
  justify-self: start;
  grid-column: 4/5;
  grid-row: 1/3;
  font-size: 40px;
  align-self: center;
  margin-bottom: 10px;
  margin-left: 0;
  text-decoration: none;
  color: #d0021b;
}
@media screen and (max-width: 325px) {
  .title__last-name--link {
    font-size: 35px;
  }
}
.title__function {
  width: 515px;
  height: 70px;
  border-radius: 10.4px;
  background-color: rgba(208, 2, 27, 0.8);
  grid-column: 4/6;
  grid-row: 4;
  position: relative;
  animation: function 2s;
}
@keyframes function {
  from {
    top: 50vh;
  }
  to {
    top: 0px;
  }
}
@media screen and (max-width: 750px) {
  .title__function {
    width: 270px;
    height: 50px;
  }
}
@media screen and (max-width: 320px) {
  .title__function {
    width: 227px;
    height: 50px;
  }
}
.title__function--text {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  color: #FFF;
}
@media screen and (max-width: 750px) {
  .title__function--text {
    font-size: 16px;
  }
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 20px;
  padding: 110px 40px 0 40px;
}
@media screen and (max-width: 992px) {
  .gallery {
    grid-template-columns: repeat(1, 1fr);
  }
}
.gallery__grid {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-image: url("../images/mountain2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.gallery__grid--millman {
  background-image: url("../images/projects/fts-banner.jpg");
}
.gallery__grid--ftsf {
  background-image: url("../images/projects/login_image.jpg");
}
.gallery__grid--odsa {
  background-image: url("../images/projects/apartment.jpg");
}
.gallery__title {
  font-size: 20px;
  color: #FFF;
}
@media screen and (max-width: 992px) {
  .gallery__title {
    font-size: 19px;
  }
}
.gallery__text {
  color: #FFF;
  font-style: italic;
  margin-top: -1rem;
  font-size: 15px;
}
.gallery__project {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  line-height: 1px;
  width: 100%;
  height: 200px;
  background-color: #FFF;
  cursor: pointer;
}
.gallery__link {
  position: absolute;
  width: 30%;
  height: 30%;
  text-decoration: none;
  z-index: 2;
}

.slider {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 85%;
  margin-top: 20px;
  margin: 0;
  background-image: url("../images/mountain1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.slider--millman {
  background-image: url("../images/projects/WeareBanner.jpg");
}
.slider--ftsf {
  background-image: url("../images/projects/login_image.jpg");
}
.slider--odsa {
  background-image: url("../images/projects/apartment.jpg");
}

.project-info {
  display: flex;
  margin-bottom: 10%;
}
@media screen and (max-width: 992px) {
  .project-info {
    flex-direction: column;
    margin-bottom: 0;
  }
}

.project {
  height: 400px;
  width: 500px;
  margin: 0 40px 0 40px;
}
@media screen and (max-width: 992px) {
  .project {
    width: 80%;
    max-height: 600px;
    height: 600px;
    align-self: center;
  }
}
.project__title {
  font-size: 29px;
  font-weight: 900;
  display: flex;
  justify-content: center;
  margin-top: 140px;
  color: #d0021b;
}
@media screen and (max-width: 992px) {
  .project__title {
    font-size: 24px;
    margin-top: 35px;
  }
}
.project__subtitle {
  font-size: 22px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 30px;
  font-style: italic;
}
@media screen and (max-width: 992px) {
  .project__subtitle {
    font-size: 16px;
  }
}
.project__text {
  text-align: justify;
}
.project__paragraph {
  margin: 10px;
}
.project__image {
  width: 100%;
  height: 573px;
  margin-top: 120px;
  display: flex;
  background-image: url("../images/mountain1.jpg");
  clip-path: polygon(0 0, 100% 0, 100% 34%, 0 100%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 34%, 0 100%);
  -moz-clip-path: polygon(0 0, 100% 0, 100% 34%, 0 100%);
  -o-clip-path: polygon(0 0, 100% 0, 100% 34%, 0 100%);
}
@media screen and (max-width: 992px) {
  .project__image {
    margin-top: 0;
    clip-path: polygon(0 0, 100% 0, 100% 25%, 0 50%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 25%, 0 50%);
    -moz-clip-path: polygon(0 0, 100% 0, 100% 25%, 0 50%);
    -o-clip-path: polygon(0 0, 100% 0, 100% 25%, 0 50%);
    background-position: left 55% top 75%;
  }
}
.project__image--millman {
  background-image: url("../images/projects/fts-banner.jpg");
}
.project__image--ftsf {
  background-image: url("../images/projects/codepamoja-banner.jpg");
}
.project__image--odsa {
  background-image: url("../images/projects/highRise.jpg");
}

.tech {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
}
.tech__section {
  position: absolute;
  left: 67%;
  top: 154%;
  width: 310px;
  height: 235px;
  background-color: #d0021b;
  box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.5);
}
@media screen and (max-width: 1024px) {
  .tech__section {
    left: 62%;
    top: 122%;
  }
}
@media screen and (max-width: 800px) {
  .tech__section {
    left: 43%;
    top: 170%;
  }
}
@media screen and (max-width: 420px) {
  .tech__section {
    left: 13%;
    top: 194%;
  }
}
@media screen and (max-width: 420px) and (max-height: 750px) {
  .tech__section {
    left: 13%;
    top: 205%;
  }
}
@media screen and (max-width: 376px) {
  .tech__section {
    left: 13%;
    top: 194%;
    width: 280px;
    height: 214px;
  }
}
@media screen and (max-width: 376px) and (max-height: 700px) {
  .tech__section {
    left: 13%;
    top: 217%;
    width: 280px;
    height: 214px;
  }
}
@media screen and (max-width: 362px) {
  .tech__section {
    left: 13%;
    top: 225%;
    width: 280px;
    height: 214px;
  }
}
@media screen and (max-width: 320px) {
  .tech__section {
    left: 6%;
    top: 238%;
    width: 280px;
    height: 214px;
  }
}
.tech__skill-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
}
.tech__title {
  font-size: 24px;
  color: #FFF;
  font-style: italic;
  margin-bottom: 10px;
}
.tech__icons-section {
  display: grid;
  grid-template-columns: repeat(4, 55px);
  grid-template-rows: repeat(2, 55px);
  gap: 20px;
}
.tech__icons {
  height: 55px;
  width: 55px;
}

.link {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 90px;
  margin-right: 20%;
  z-index: 2;
}
.link__text {
  font-weight: bold;
  color: #383838;
  width: 121px;
  margin-top: 8px;
  border-bottom: 2px solid #000;
}
.link__icon {
  display: flex;
  height: 50px;
  width: 115px;
  margin-left: 5px;
  background-repeat: no-repeat;
  cursor: pointer;
}
.link__icon--linkedin {
  background-image: url("../images/SVG/link.svg");
}
.link__icon--linkedin:hover {
  background-image: url("../images/SVG/linkHover.svg");
}
.link__icon--github {
  background-image: url("../images/SVG/Github.svg");
}
.link__icon--github:hover {
  background-image: url("../images/SVG/GithubPopup.svg");
}

.back-button {
  position: relative;
  z-index: 2;
}

.return {
  display: flex;
  flex-direction: row-reverse;
  width: 232px;
  margin-top: 25px;
  margin-bottom: 64px;
  text-decoration: none;
  cursor: pointer;
}
.return__text {
  font-weight: bold;
  color: #383838;
  width: 100px;
  margin-right: 45px;
}
.return__icon {
  background-image: url("../images/SVG/Arrow_return.png");
  background-repeat: no-repeat;
  margin: 0 auto;
  height: 40px;
  width: 17%;
  margin-top: 7px;
  margin-right: 10px;
}

.footer {
  display: inline-flex;
  flex-direction: row-reverse;
  width: 100%;
}
@media screen and (max-width: 995px) {
  .footer {
    display: block;
    flex-direction: none;
  }
}

.profile {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 88vh;
  margin: 0;
  background-image: url("../images/about-me.png");
  background-position: 0 110px;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (max-width: 992px) {
  .profile {
    height: 87%;
    background-position: right 75% top 110px;
  }
}
.profile__text {
  text-align: right;
  width: 621px;
  margin-right: 10%;
}
.profile__title {
  font-size: 48px;
  font-weight: 900;
  font-style: italic;
  margin-bottom: 15px;
}
@media screen and (max-width: 992px) {
  .profile__title {
    font-size: 30px;
  }
}
.profile__title--color {
  color: #d0021b;
}
@media screen and (max-width: 992px) {
  .profile__title--color {
    display: flex;
    justify-content: flex-end;
  }
}
.profile__discription {
  font-size: 34px;
  font-weight: 900;
}
@media screen and (max-width: 992px) {
  .profile__discription {
    font-size: 20px;
  }
}
.profile__discription--color {
  color: #d0021b;
}

.know-more {
  position: relative;
  margin: 0 auto;
  width: 114px;
  margin-top: 22px;
  z-index: 3;
  cursor: pointer;
}
.know-more__text {
  font-weight: bold;
  color: #000;
  border-bottom: 2px solid #000;
}
.know-more__icon {
  background-image: url("../images/SVG/Arrow.png");
  background-repeat: no-repeat;
  margin: 0 auto;
  margin-top: 7px;
  height: 40px;
  width: 17%;
}

.about-me {
  height: 445px;
  width: 631px;
}
@media screen and (max-width: 992px) {
  .about-me {
    width: 80%;
    height: 100%;
    align-self: center;
  }
}
.about-me__title {
  font-size: 30px;
  font-weight: 900;
  display: flex;
  justify-content: center;
  margin: 120px 0 50px 0;
}
@media screen and (max-width: 992px) {
  .about-me__title {
    margin: 100px 0 20px 0;
  }
}
.about-me__text {
  text-align: justify;
}
.about-me__paragraph {
  margin: 10px;
}

.personal-info {
  display: flex;
  justify-content: space-around;
  margin-bottom: 3%;
}
@media screen and (max-width: 992px) {
  .personal-info {
    flex-direction: column-reverse;
  }
}

.skills {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
}
@media screen and (max-width: 992px) {
  .skills {
    align-self: center;
    margin-left: 0;
  }
}
.skills__title {
  font-size: 30px;
  font-weight: 900;
  display: flex;
  justify-content: center;
  margin: 120px 0 90px 0;
}
@media screen and (max-width: 992px) {
  .skills__title {
    margin: 20px 0 50px 0;
  }
}
.skills__section {
  display: grid;
  grid-template-columns: repeat(2, 55px);
  grid-template-rows: repeat(4, 55px);
  gap: 20px;
}
.skills__icons {
  height: 55px;
  width: 55px;
}

/*# sourceMappingURL=style.css.map */
