.profile {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 669px;
	margin-top: 20px;
	margin: 0;
	background-image: url("../images/about-me.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	@media screen and (max-width: 992px) {
		height: 70%;
		background-position: left 27% top;
	}

	&__text {
		text-align: right;
		width: 621px;
		margin-right: 10%;
	}

	&__title {
		font-size: 48px;
		font-weight: 900;
		font-style: italic;
		margin-bottom: 15px;

		@media screen and (max-width: 992px) {
			font-size: 30px;
		}

		&--color {
			color: $red;

			@media screen and (max-width: 992px){
				display: flex;
				justify-content: flex-end;
			}
		}
	}

	&__discription {
		font-size: 34px;
		font-weight: 900;

		@media screen and (max-width: 992px){
			font-size: 20px;
		}

		&--color {
			color: $red;
		}
	}
}

.know-more { 
	margin: 0 auto;
	width: 114px;
	margin-top: 22px;
	cursor: pointer;

	&__text {
		font-weight: bold;
		color: $black-darker;
		border-bottom: 2px solid $black-darker;
	}

	&__icon {
		background-image: url("../images/SVG/Arrow.png");
		background-repeat: no-repeat;
		margin: 0 auto;
		margin-top: 7px;
		height: 40px;
		width: 17%;
	}
}

.about-me {
	height: 445px;
	width: 631px;

	@media screen and (max-width: 992px) {
		width: 80%;
		height: 100%; 
		align-self: center; 
	}

	&__title {
		font-size: 30px;
		font-weight: 900;
		display: flex;
		justify-content: center;
		margin: 120px 0 50px 0;

		@media screen and (max-width: 992px) {
			margin: 100px 0 20px 0;
		}
	}

	&__text {
		text-align: justify;
	}

	&__paragraph {
		margin: 10px;
	}
}

.personal-info {
	display: flex;
	justify-content: space-around;
	margin-bottom: 30%;

	@media screen and (max-width: 992px) {
		flex-direction: column-reverse;
	}
}

.skills {
	display: flex;
	flex-direction: column;
	margin-left: 10%;

	@media screen and (max-width: 992px){
		align-self: center;
		margin-left: 0;
	}

	&__title {
		font-size: 30px;
		font-weight: 900;
		display: flex;
		justify-content: center;
		margin: 120px 0 90px 0;

		@media screen and (max-width: 992px){
			margin: 20px 0 50px 0;
		}
	}

	&__section {
		display: grid;
		grid-template-columns: repeat(2, 55px);
		grid-template-rows: repeat(4, 55px);
		gap: 20px;
	}

	&__icons {
		height: 55px;
		width: 55px;
	}
}

