.main {
	overflow-y: hidden;
}

.background-image {
	position: absolute;
	height: 100%;
	width: 100%;
	margin: 0;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	z-index: -1;

	@media screen and (max-width: 992px) {
		background-position: left 27% top;
	}

	&__top {
		background-image: url("../images/home.png");
		clip-path: polygon(0 0,100% 0,100% 20%,0 85%);
		-webkit-clip-path: polygon(0 0,100% 0,100% 20%,0 85%);
		-moz-clip-path: polygon(0 0,100% 0,100% 20%,0 85%);
		-o-clip-path: polygon(0 0,100% 0,100% 20%,0 85%);

		@media screen and (max-width: 992px) {
			clip-path: polygon(0 0,100% 0,100% 40%,0 60%);
			-webkit-clip-path: polygon(0 0,100% 0,100% 40%,0 60%);
			-moz-clip-path: polygon(0 0,100% 0,100% 40%,0 60%);
			-o-clip-path: polygon(0 0,100% 0,100% 40%,0 60%);
		}
	}
	
	&__bottom {
		background-image: url("../images/PCpicture.png");
		clip-path: polygon(135% 0,100% 0,100% 100%,-18% 100%);
		-webkit-clip-path: polygon(135% 0,100% 0,100% 100%,-18% 100%);
		-moz-clip-path: polygon(135% 0,100% 0,100% 100%,-18% 100%);
		-o-clip-path: polygon(135% 0,100% 0,100% 100%,-18% 100%);

		@media screen and (max-width: 992px) {
			clip-path: polygon(305% 0,100% 0,100% 100%,-187% 100%);
			-webkit-clip-path: polygon(305% 0,100% 0,100% 100%,-187% 100%);
			-moz-clip-path: polygon(305% 0,100% 0,100% 100%,-187% 100%);
			-o-clip-path: polygon(305% 0,100% 0,100% 100%,-187% 100%);
		}
	}
}

.intro-name {
	display: grid;
	align-content: center;
	margin-top: 10%;

	@media screen and (max-width: 1024px) {
		margin-top: 20%;
	}

	@media screen and (max-width: 750px) {
		margin-top: 30%;
	}

	@media screen
	and (max-width: 420px)
	and (max-height: 800px) {
		margin-top: 50%;
	}

	@media screen and (max-width: 361px) {
		margin-top: 45%;
	}

	@media screen and (max-width: 325px) {
		margin-top: 42%;
	}

	&--size {
		display: flex;
		margin-right: auto;
		margin-left: auto;
		margin-top: 0;
	}
}

.title {
	margin-top: auto;
	display: grid;
	align-content: center;
	justify-content: center;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: 50px 1fr 1fr 1fr;

	@media screen and (max-width: 992px){
		top: 5%;
		grid-template-rows: 50px 20px 1fr 1fr;
	}
	
	&--small {
		padding-left: 5%;
		grid-template-columns: repeat(6, 1fr);
		grid-template-rows: repeat(2, 1fr);

		@media screen and (max-width: 992px){
			padding-left: 0;
		}
	}

	&__first-name {
		grid-column: 4 / 5;
		grid-row: 1 / 2;;
		font-size: 100px;
		font-weight: 900;
		font-style: italic;
		color: $white;

		@media screen and (max-width: 750px) {
			font-size: 55px;
			padding-top: 25px;
		}

		@media screen and (max-width: 325px) {
			font-size: 43px;
			padding-top: 25px;
		}

		&--link {
			grid-column: 3 / 4;
			font-size: 40px;
			text-decoration: none;
			color: $white;
			padding-top: 0px;

			@media screen and (max-width: 325px){
				font-size: 35px;
			}
		}
		
	}
	.toggle {
		display: none;
		&:checked {
	
			+ .title__first-name--link {
				display: none;
			}
		}
	}
	
	&__last-name {
		grid-column: 5 / 6;
		grid-row: 2 / 4;
		font-size: 100px;
		font-weight: 900;
		font-style: italic;
		color: $red;
		margin-left: 10px;

		@media screen and (max-width: 750px){
			font-size: 53px;
			margin-left: 0;
		}

		@media screen and (max-width: 320px){
			font-size: 43px;
			margin-left: 0;
		}

		&--link {
			justify-self: start;
			grid-column: 4 / 5;
			grid-row: 1 / 3;
			font-size: 40px;
			align-self: center;
			margin-bottom: 10px;
			margin-left: 0;
			text-decoration: none;
			color: $red;

			@media screen and (max-width: 325px){
				font-size: 35px;
			}
		}
	}
	
	&__function {
		width: 515px;
		height: 70px;
		border-radius: 10.4px;
		background-color: rgba(208,2,27,0.8);
		grid-column: 4 / 6;
		grid-row: 4;

		@media screen and (max-width: 750px) {
			width: 270px;
			height: 50px;
		}

		@media screen and (max-width: 320px) {
			width: 227px;
			height: 50px;
		}

		&--text {
			display: flex;
			justify-content: center;
			align-items: center;
			opacity: 1;
			font-size: 32px;
			font-style: normal; 
			font-weight: 500;
			color: $white;

			@media screen and (max-width: 750px) {
				font-size: 16px;
			}
		}
	}
}
