<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>FTSF CMS</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" media="screen" href="../../css/style.min.css" />
		<link href='https://fonts.googleapis.com/css?family=Montserrat:800' rel='stylesheet'>
		<link href='https://fonts.googleapis.com/css?family=Montserrat:500' rel='stylesheet'>
	</head>
	<body>
		<header>
			<nav class="navigation navigation--color">
				<label class="navigation__hamburger navigation__hamburger--color navigation__hamburger--small" for="toggle">
					<span class="navigation__line"></span>
					<span class="navigation__line"></span>
					<span class="navigation__line"></span>
				</label>
				<input type="checkbox" id="toggle" class="toggle"/>
				<ul class="navigation__menu navigation__menu--color">
					<div class="navigation__border navigation__border--small">
						<a class="navigation__link navigation__link--color" href="../../index.html">Home</a>
						<a class="navigation__link navigation__link--color" href="../gallery.html">Gallery</a>
						<a class="navigation__link navigation__link--color" href="../about.html">About</a>
					</div>
				</ul>
				<div class="intro-name intro-name--size">
					<div class="title title--small">
							<div class="title__first-name title__first-name--link"><a class="title__first-name--link" href="../../index.html">Luuk</a></div>
							<div class="title__last-name title__last-name--link"><a class="title__last-name--link" href="../../index.html">Gille</a></div>
					</div>
				</div>
			</nav>
			<div class="link-section">
				<div class="moon-sidebar">
					<div class="moon-sidebar__section">
						<div class="moon-sidebar__icon">
								<a class="moon-sidebar__icon moon-sidebar__icon--github" href="https://github.com/LuukGille"></a>
								<a class=" moon-sidebar__icon moon-sidebar__icon--linkedin" href="https://www.linkedin.com/in/luuk-gille-32a714140/"></a>
						</div>
					</div>
				</div>
			</div>
		</header>
		<section class="slider slider--ftsf">
		</section>
		<div class="know-more">
			<div class="know-more__text">
				KNOW MORE
			</div>
			<div class="know-more__icon">
			</div>
		</div>
		<div id="scroll" class="project-info">
			<section class="project">
				<div class="project__title">FTSF-CMS</div>
				<div class="project__subtitle">Content Management System </div>
				<div class="project__text">
					<p>
						For the Fair Trade Software Foundation, I worked with different Scrum teams to create a custom CMS. 
						I have worked with different people on the different custom API's to get data from the database. For 
						example, I get the prices and sizes for different products from de database to display them on the 
						Front-end. I also worked with MySQL Workbench to get relations inside the database, so I know what 
						kind of data I can get. 
					</p>
					<p>
						Besides the different API's that I have built I also worked in the Frond -end. I was responsible for 
						creating different components in Vue.js with Veutify, SCSS and HTML.
					</p>
				</div>
			</section>
			<div class="project__image project__image--ftsf"></div>
			<div class="tech__section">
				<div class="tech__skill-area">
					<div class="tech__title">Skill Used</div>
					<div class="tech__icons-section">
						<img class="tech__icons" src="../../images/SVG/HTML5.svg" alt="html5">
						<img class="tech__icons" src="../../images/SVG/sass.svg" alt="sass">
						<img class="tech__icons" src="../../images/SVG/laravel.svg" alt="laravel">
						<img class="tech__icons" src="../../images/SVG/PHP.svg" alt="php">
						<img class="tech__icons" src="../../images/SVG/vuejs.svg" alt="vue.js">
						<img class="tech__icons" src="../../images/SVG/webpack.svg" alt="webpack">
					</div>
				</div>
			</div>
		</div>
		<section class="footer">
			<div class="link" >
				<div class="link__icon">
						<a class=" link__icon link__icon--linkedin" href="https://www.linkedin.com/in/luuk-gille-32a714140/"></a>
						<a class="link__icon link__icon--github" href="https://github.com/LuukGille"></a>
				</div>
				<div class="link__text">
					CHECK IT OUT
				</div>
			</div>
			<div>
				<a class="return" href="../gallery.html">
					<div class="return__text">
						RETURN TO GALLERY
					</div>
					<div class="return__icon">
					</div>
				</a>
			</div>
		</section>
		<script type="text/javascript" src="../../dest/all.min.js"></script>
	</body>
</html>