<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>FTSF Webshop</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" media="screen" href="../../css/style.min.css" />
		<link href='https://fonts.googleapis.com/css?family=Montserrat:800' rel='stylesheet'>
		<link href='https://fonts.googleapis.com/css?family=Montserrat:500' rel='stylesheet'>
	</head>
	<body>
		<header>
			<nav class="navigation navigation--color">
				<label class="navigation__hamburger navigation__hamburger--color navigation__hamburger--small" for="toggle">
					<span class="navigation__line"></span>
					<span class="navigation__line"></span>
					<span class="navigation__line"></span>
				</label>
				<input type="checkbox" id="toggle" class="toggle"/>
				<ul class="navigation__menu navigation__menu--color">
					<div class="navigation__border navigation__border--small">
						<a class="navigation__link navigation__link--color" href="../../index.html">Home</a>
						<a class="navigation__link navigation__link--color" href="../gallery.html">Gallery</a>
						<a class="navigation__link navigation__link--color" href="../about.html">About</a>
					</div>
				</ul>
				<div class="intro-name intro-name--size">
					<div class="title title--small">
							<div class="title__first-name title__first-name--link"><a class="title__first-name--link" href="../../index.html">Luuk</a></div>
							<div class="title__last-name title__last-name--link"><a class="title__last-name--link" href="../../index.html">Gille</a></div>
					</div>
				</div>
			</nav>
		</header>
		<section class="slider slider--ftsf">
		</section>
		<div class="know-more">
			<div class="know-more__text">
				KNOW MORE
			</div>
			<div class="know-more__icon">
			</div>
		</div>
		<div id="scroll"  class="project-info">
			<section class="project">
				<div class="project__title">FTSF-Webshop</div>
				<div class="project__subtitle">Fair Trade Software </div>
				<div class="project__text">
					<p>
						There was asked to build a webshop for the Fair Trade Software Foundation where multiple kinds of
						 merchandise get offered. For this project, I was responsible for multiple pages to make a desktop 
						 version and the mobile version.  I created all the pages with the delivered design and build it 
						 to a dynamic website. 
					</p>

					<p>
						I was also responsible for building the whole homepage and product page where there had to be a couple 
						of elements implemented like dropdowns and special styling for the design. I used Sass/SCSS and HTML 
						for the styling and used BEM to create a structured project. All the data I processed with PHP and 
						JavaScript.
					</p>
				</div>
			</section>
			<div class="project__image project__image--ftsf"></div>
			<div class="tech__section">
				<div class="tech__skill-area">
					<div class="tech__title">Skill Used</div>
					<div class="tech__icons-section">
						<img class="tech__icons" src="../../images/SVG/HTML5.svg" alt="html5">
						<img class="tech__icons" src="../../images/SVG/CSS.3.svg" alt="css3">
						<img class="tech__icons" src="../../images/SVG/sass.svg" alt="sass">
						<img class="tech__icons" src="../../images/SVG/JS.svg" alt="javascript">
						<img class="tech__icons" src="../../images/SVG/PHP.svg" alt="php">
						<img class="tech__icons" src="../../images/SVG/MySQL.svg" alt="mysql">
					</div>
				</div>
			</div>
		</div>
		<section class="footer">
			<div class="link" >
				<div class="link__icon">
						<a class=" link__icon link__icon--linkedin" href="https://www.linkedin.com/in/luuk-gille-32a714140/"></a>
						<a class="link__icon link__icon--github" href="https://github.com/LuukGille"></a>
				</div>
				<div class="link__text">
					CHECK IT OUT
				</div>
			</div>
			<div>
				<a class="return" href="../gallery.html">
					<div class="return__text">
						RETURN TO GALLERY
					</div>
					<div class="return__icon">
					</div>
				</a>
			</div>
		</section>
		<script type="text/javascript" src="../../dest/all.min.js"></script>
	</body>
</html>