<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Competa Millman</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" media="screen" href="../../css/style.min.css" />
		<link href='https://fonts.googleapis.com/css?family=Montserrat:800' rel='stylesheet'>
		<link href='https://fonts.googleapis.com/css?family=Montserrat:500' rel='stylesheet'>
	</head>
	<body>
		<header>
			<nav class="navigation navigation--color">
				<label class="navigation__hamburger navigation__hamburger--color navigation__hamburger--small" for="toggle">
					<span class="navigation__line"></span>
					<span class="navigation__line"></span>
					<span class="navigation__line"></span>
				</label>
				<input type="checkbox" id="toggle" class="toggle"/>
				<ul class="navigation__menu navigation__menu--color">
					<div class="navigation__border navigation__border--small">
						<a class="navigation__link navigation__link--color" href="../../index.html">Home</a>
						<a class="navigation__link navigation__link--color" href="../gallery.html">Gallery</a>
						<a class="navigation__link navigation__link--color" href="../about.html">About</a>
					</div>
				</ul>
				<div class="intro-name intro-name--size">
					<div class="title title--small">
							<div class="title__first-name title__first-name--link"><a class="title__first-name--link" href="../../index.html">Luuk</a></div>
							<div class="title__last-name title__last-name--link"><a class="title__last-name--link" href="../../index.html">Gille</a></div>
					</div>
				</div>
			</nav>
		</header>
		<section class="slider slider--millman">
			
		</section>
		<div class="project-info">
			<section class="project">
				<div class="project__title">COMPETA MILLMAN</div>
				<div class="project__subtitle">Competa Kenya</div>
				<div class="project__text">
					<p>
						Competa got 2 offices in Nairobi in Kenya. Therefore has to be a new website been made. Inside 
						the scrum teams, I worked on a template for different pages and eventually connect the template
						with WordPress. 
					</p>
					<p>	
						In one of the pages, I created a large slideshow with information, that also was displayed inside 
						a pop-up. All the content in the slideshow have to come out of Wordpress. The pop-up with the 
						slideshow is completely build with Javascript and SCSS.
					</p>
				</div>
			</section>
			<div class="project__image project__image--millman"></div>
			<div class="tech__section">
				<div class="tech__skill-area">
					<div class="tech__title">Skill Used</div>
					<div class="tech__icons-section">
						<img class="tech__icons" src="../../images/SVG/HTML5.svg" alt="html5">
						<img class="tech__icons" src="../../images/SVG/CSS.3.svg" alt="css3">
						<img class="tech__icons" src="../../images/SVG/JS.svg" alt="javascript">
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="../../js/hamburger.js"></script>
	</body>
</html>