<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>About</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" media="screen" href="../css/style.min.css" />
		<link href='https://fonts.googleapis.com/css?family=Montserrat:800' rel='stylesheet'>
	</head>
	<body>
		<header>
			<nav class="navigation navigation--about navigation--color">
				<label class="navigation__hamburger navigation__hamburger" for="toggle">&#9776;</label>
				<input type="checkbox" id="toggle"/>
				<ul class="navigation__menu navigation__menu--color">
						<div class="navigation__border navigation__border--small">
							<a class="navigation__link navigation__link--color" href="../index.html">Home</a>
							<a class="navigation__link navigation__link--color" href="gallery.html">Gallery</a>
							<a class="navigation__link navigation__link--color" href="about.html">About</a>
						</div>
					</ul>
				<div class="intro-name intro-name--size">
					<div class="title title--small">
							<div class="title__first-name title__first-name--link"><a class="title__first-name--link" href="../index.html">Luuk</a></div>
							<div class="title__last-name title__last-name--link"><a class="title__last-name--link" href="../index.html">Gille</a></div>
					</div>
				</div>
			</nav>
		</header>
		<section class="profile">
			<div class="profile__text">
				<div class="profile__title">
					Hi I am <span class="profile__title--color">Luuk Gille!</span>
				</div>
				<div class="profile__discription">
						I am a motivated <span class="profile__discription--color">Front-end</span> Developer with
						a passion for <span class="profile__discription--color">styling</span> to make an application interactive.
						
				</div>
			</div>
		</section>
		<div class="personal-info">
			<section class="skills">
				<div class="skills__title">SKILLS</div>
				<div class="skills__section">
					<img class="skills__icons" src="../images/icons/HTML5.png" alt="html5">
					<img class="skills__icons" src="../images/icons/CSS3.png" alt="css3">
					<img class="skills__icons" src="../images/icons/ES5.png" alt="javascript">
					<img class="skills__icons" src="../images/icons/ES6.png" alt="javascript">
					<img class="skills__icons" src="../images/icons/SASS.jpg" alt="sass">
					<img class="skills__icons" src="../images/icons/GRUNT.png" alt="grunt">
					<img class="skills__icons" src="../images/icons/VUE.png" alt="vue">
					<img class="skills__icons" src="../images/icons/REACT.png" alt="grunt">
				</div>
			</section>
			<section class="about-me">
				<div class="about-me__title">
					ABOUT ME
				</div>
				<div class="about-me__text">
					<p>
						"Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
						Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
						mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat 
						massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim 
						justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis 
						pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. 
						Aenean vulputate 
					</p>
					
					<p>
						eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam 
						lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius 
						laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper
						ultricies nisi. Nam eget dui.pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper 
						nisi. Aenean vulputate 
					</p>
					<p>
						eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam 
						lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius 
						laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper
						ultricies nisi. Nam eget dui."
					</p>
				</div>
			</section>
		</div>
	</body>
</html>