<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>About</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" media="screen" href="../css/style.min.css" />
		<link href='https://fonts.googleapis.com/css?family=Montserrat:800' rel='stylesheet'>
		<link href='https://fonts.googleapis.com/css?family=Montserrat:500' rel='stylesheet'>
	</head>
	<body>
		<header>
			<nav class="navigation navigation--color">
				<label class="navigation__hamburger navigation__hamburger--color navigation__hamburger--small" for="toggle">
					<span class="navigation__line"></span>
					<span class="navigation__line"></span>
					<span class="navigation__line"></span>
				</label>
				<input type="checkbox" id="toggle" class="toggle"/>
				<ul class="navigation__menu navigation__menu--color">
					<div class="navigation__border navigation__border--small">
						<a class="navigation__link navigation__link--color" href="../index.html">Home</a>
						<a class="navigation__link navigation__link--color" href="gallery.html">Gallery</a>
						<a class="navigation__link navigation__link--color" href="about.html">About</a>
					</div>
				</ul>
				<div class="intro-name intro-name--size">
					<div class="title title--small">
							<div class="title__first-name title__first-name--link"><a class="title__first-name--link" href="../index.html">Luuk</a></div>
							<div class="title__last-name title__last-name--link"><a class="title__last-name--link" href="../index.html">Gille</a></div>
					</div>
				</div>
			</nav>
		</header>
		<section class="profile">
			<div class="profile__text">
				<div class="profile__title">
					Hi I am <span class="profile__title--color">Luuk Gille!</span>
				</div>
				<div class="profile__discription">
						I am a motivated <span class="profile__discription--color">Front-end</span> Developer with
						a passion for <span class="profile__discription--color">styling</span> to make an application
						<span class="profile__discription--color">interactive</span>.
				</div>
			</div>
		</section>
		<div class="know-more">
			<div class="know-more__text">
				KNOW MORE
			</div>
			<div class="know-more__icon">
			</div>
		</div>
		<div class="personal-info">
			<section class="skills">
				<div class="skills__title">SKILLS</div>
				<div class="skills__section">
					<img class="skills__icons" src="../images/icons/HTML5.png" alt="html5">
					<img class="skills__icons" src="../images/icons/CSS3.png" alt="css3">
					<img class="skills__icons" src="../images/icons/ES5.png" alt="javascript">
					<img class="skills__icons" src="../images/icons/ES6.png" alt="javascript">
					<img class="skills__icons" src="../images/icons/SASS.jpg" alt="sass">
					<img class="skills__icons" src="../images/icons/GRUNT.png" alt="grunt">
					<img class="skills__icons" src="../images/icons/VUE.png" alt="vue">
					<img class="skills__icons" src="../images/icons/REACT.png" alt="grunt">
				</div>
			</section>
			<section class="about-me">
				<div id="scroll" class="about-me__title">
					ABOUT ME
				</div>
				<div class="about-me__text">
					<p>
						"I like to learn a lot from different techniques and I am a motivated Front-end Developer with a 
						passion for styling to make an application interactive. I got experience with Sass/SCSS (Flexbox 
						and CSS Grid), JavaScript (ES6+), Grunt, Gulp and the basics of Vue.js. 

						I like to dive into new techniques to expand my knowledge. People say that I am strong in 
						communication and that I am a real team player. In my spare time, I like to play some basketball.
					</p>
					<p>
						I like to dive into new techniques to expand my knowledge. People say that I am strong in 
						communication and that I am a real team player. In my spare time, I like to play some basketball."
					</p>
				</div>
			</section>
		</div>
		<div class="moon-link">
			<div class="moon-link__section">
				<!-- <div class="moon-link__text">
					GET IN TOUCH
				</div> -->
				<div class="moon-link__icon">
						<a class=" moon-link__icon moon-link__icon--linkedin" href="https://www.linkedin.com/in/luuk-gille-32a714140/"></a>
						<a class="moon-link__icon moon-link__icon--github" href="https://github.com/LuukGille"></a>
				</div>
			</div>
		</div>
		<script type="text/javascript" src="../dest/all.min.js"></script>
	</body>
</html>