<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Gallery</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" media="screen" href="../css/style.min.css" />
		<link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
	</head>
	<body>
		<header>
			<nav class="navigation navigation--color">
				<label class="navigation__hamburger navigation__hamburger" for="toggle">&#9776;</label>
				<input type="checkbox" id="toggle"/>
				<ul class="navigation__menu navigation__menu--color">
					<div class="navigation__border navigation__border--small">
						<a class="navigation__link navigation__link--color" href="../index.html">Home</a>
						<a class="navigation__link navigation__link--color" href="gallery.html">Gallery</a>
						<a class="navigation__link navigation__link--color" href="about.html">About</a>
					</div>
				</ul>
				<div class="intro-name intro-name--size">
					<div class="title title--small">
							<div class="title__first-name title__first-name--link"><a class="title__first-name--link" href="../index.html">Luuk</a></div>
							<div class="title__last-name title__last-name--link"><a class="title__last-name--link" href="../index.html">Gille</a></div>
					</div>
				</div>
			</nav>
		</header>
		<div class="gallery">
			<div class="gallery__project">
				<div class="gallery__grid"><a class="gallery__link" href="project.html"></a>
					<div class="gallery__title"><h3>PROJECT 1</h3></div>
					<div class="gallery__text"><p>Lorem Ipsum</p></div>
				</div>
			</div>
			<div class="gallery__project">
					<div class="gallery__grid"><a class="gallery__link" href="project.html"></a>
					<div class="gallery__title"><h3>PROJECT 2</h3></div>
					<div class="gallery__text"><p>Lorem Ipsum</p></div>
				</div>
			</div>
			<div class="gallery__project">
					<div class="gallery__grid"><a class="gallery__link" href="project.html"></a>
						<div class="gallery__title"><h3>PROJECT 3</h3></div>
						<div class="gallery__text"><p>Lorem Ipsum</p></div>
					</div>
			</div>
			<div class="gallery__project">
					<div class="gallery__grid"><a class="gallery__link" href="project.html"></a>
					<div class="gallery__title"><h3>PROJECT 4</h3></div>
					<div class="gallery__text"><p>Lorem Ipsum</p></div>
				</div>
			</div>
			<div class="gallery__project">
					<div class="gallery__grid"><a class="gallery__link" href="project.html"></a>
					<div class="gallery__title"><h3>PROJECT 5</h3></div>
					<div class="gallery__text"><p>Lorem Ipsum</p></div>
				</div>
			</div>
			<div class="gallery__project">
					<div class="gallery__grid"><a class="gallery__link" href="project.html"></a>
					<div class="gallery__title"><h3>PROJECT 6</h3></div>
					<div class="gallery__text"><p>Lorem Ipsum</p></div>
				</div>
			</div>
			<div class="gallery__project">
					<div class="gallery__grid"><a class="gallery__link" href="project.html"></a>
					<div class="gallery__title"><h3>PROJECT 7</h3></div>
					<div class="gallery__text"><p>Lorem Ipsum</p></div>
				</div>
			</div>
			<div class="gallery__project">
					<div class="gallery__grid"><a class="gallery__link" href="project.html"></a>
					<div class="gallery__title"><h3>PROJECT 8</h3></div>
					<div class="gallery__text"><p>Lorem Ipsum</p></div>
				</div>
			</div>
			<div class="gallery__project">
					<div class="gallery__grid"><a class="gallery__link" href="project.html"></a>
					<div class="gallery__title"><h3>PROJECT  9</h3></div>
					<div class="gallery__text"><p>Lorem Ipsum</p></div>
				</div>
			</div>
		</div>
	</body>
</html>